* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    text-align: right;

}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 100px;
    text-align: right;
}

ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;
    padding: 0 10px;
    
}

body {
    background-image: url(/assets/images/spikes.png);
}
.body {
    font-family: 'Courier New', Courier, monospace;
    width: 1000px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.header {
    float: left;
    margin: 0px auto; 
    color: #eeeeee;
    background-color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    width: 25%;
}

nav  {
    width: 750px;
    height: 90px;
    display: flex;
    margin: 0 auto;
    
}

.me {
    float: left;
    color: #777777;
    border: 1px black solid;;
    padding: 10px;
    margin: 0px auto;
    background-color:#ffffff 
    
}

.footer {
    background-color: #666666;
    float: left;
    margin: 0px auto;
    width: 1000px;
    border-top: 10px solid #4aaaa5;
}
