* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 100%;
    background-image: url("../images/spikes.png");
}

ul {
    text-align: right;

}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 100px;
    text-align: right;
}

ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1e1e;
    padding: 0 10px;
    
}


.wrapper {
    font-family: 'Courier New', Courier, monospace;
    width: 960px;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    min-height: 100%;
    
}

.headercont {
    float: left;
    margin: 15px 15px 0px 0;
    color: #eeeeee;
    background-color:#4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    border-radius: 25px;
}

nav  {
    width: 100%;
    height: 77px;
    position: absolute;
    top: 12px;
    right: 433px;  
    float: right;
}

main {
    max-width: 960px;
    float: left;  
    color: #777777;
    border: 1px black solid;
    border-radius: 25px;
    padding: 10px; 
    margin: 2px 15px 15px 0;
    background-color:#ffffff;
}

#profilephoto {
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    margin: 2px 5px 0 0;
    /* padding: 0px 5px 0 0; */
    border-radius: 15px;
}

footer {
    background-color: #666666;
    clear: both;
    width: 100; 
    border-top: 10px solid #4aaaa5;
    text-align: center;
    bottom: 0;
}
